/* style.css */
.page-container {
  padding: 32px;
  display: flex;
  /* flex-direction: column; */
  gap: 32px;
  background-color: #f4f4f9; /* Light background color */
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.dashboard-card {
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
  padding: 24px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0; /* Subtle border */
}

.dashboard-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
  background-color: #f9f9f9; /* Light background on hover */
}

.chart-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.chart-card {
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  background: #ffffff;
  border: 1px solid #e0e0e0; /* Subtle border */
}

@media (max-width: 768px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
  
  .chart-container {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .page-container {
    padding: 16px;
  }

  .dashboard-card,
  .chart-card {
    padding: 16px;
  }
}
